<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO SENSE</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
<% include menu.ejs %>
<h1>404</h1>

<% include help.ejs %>
<script src="js/bundle.js"></script>
</body>
</html>