<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO SENSE</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="p-login">

<h1>Жизнь потеряла смысл? Депрессия?</h1>

<span class="tip right-tip">Но сначала авторизируйтесь</span>

<h2><span>Вход</span></h2>

<form class="login-form" action="">
    <label for="login-name">Имя</label>
    <div class="input-tooltip"><input id="login-name" class="login-form-name" type="text" required autocomplete="off"/></div>
    <label for="login-password">Пароль</label>
    <div class="input-tooltip"><input id="login-password" class="login-form-password" type="password" required  autocomplete="off"/></div>
    <input class="login-form-submit" type="submit" value="Click &#9762;"/>
</form>

<span  class="tip left-tip" >или зарегистрируйтесь.</span>

<h2><span>Регистрация</span></h2>
<form class="register-form" action="">
    <div class="input-tooltip"><input class="register-form-name" type="text" required placeholder="Сюда введите имя"  autocomplete="off"/></div>
    <div class="input-tooltip"><input class="register-form-password" type="password" required placeholder="И сюда пароль"  autocomplete="off"/></div>
    <input class="register-form-submit" type="submit" value="Click &#10084;" />
</form>

<script src="js/bundle.js"></script>
</body>
</html>