<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO SENSE</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="p-nosense">
    <% include menu.ejs %>
    <h1>Так вот есть, выход</h1>

    <div class="strange-exit">
        <div class="strange-exit-first"></div>
        <div class="strange-exit-second"></div>
        <div class="strange-exit-third"></div>
        <div class="strange-exit-secret" data-link="/ways"></div>
    </div>
    <% include help.ejs %>
    <script src="js/bundle.js"></script>
</body>
</html>