<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO SENSE</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="p-ways">
<% include menu.ejs %>
<h1>Выберите способ развлечения</h1>

<div class="random-icon">
    <a href="/wrongway">
        <img src="/img/random.jpg" alt="Random Icon"/>
    </a>
</div>
<div class="cat-icon">
    <a href="/rightway">
        <img src="/img/cat.jpg" alt="Cat Icon"/>
    </a>
</div>

<% include help.ejs %>
<script src="js/bundle.js"></script>
</body>
</html>