<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO SENSE</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body class="p-random">
<% include menu.ejs %>
<h1>Рандом</h1>

<div class="add-item">+</div>
<div class="random-field clearfix">
</div>


<% include help.ejs %>
<script src="js/bundle.js"></script>
</body>
</html>